:host {
  $width: 100%;
  --input-color: var(--primary);
  --input-color-active: var(--primary);

  mat-icon {
    color: var(--input-color);
  }


  .app-input-wrapper {
    max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;

    border-bottom: 1px solid var(--input-color);

    &:focus-within {
      --input-color: var(--input-color-active);
    }
  }


  .app-input {

    *,
    :before,
    :after {
      box-sizing: border-box;
    }

    width: $width;
    color: var(--input-color);
    font-size: 16px;
    font-family: var(--mat-toolbar-title-text-font);

    display: block;
    background: inherit;
    border: none;
    border-radius: 0;
    padding: 10px 10px 10px 5px;


    &::placeholder {
      color: var(--input-color);
    }

    &:focus {
      outline: none;
    }
  }
}
